@model IEnumerable<MVC2021.Models.Movie> 
@*
    SINTAKSA RAZOT KOMENTARA
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    decimal cijena = 60;
    // var gl = await Glumci.ToListAsync()
}
<div>
    Ovo je neki naš RazorView
    <table>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <img src="https://www.amazon.com/Beverly-Poster-Inches-Unframed-Display/dp/B085S77WP5" height="55px" title="@Html.DisplayFor(modelItem => item.Title)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @if (item.Price < 5)
                    {
                        <span style="color:red">Cijena je preniska!</span>
                    }
                    else if (item.Price > 5)
                    {
                        <span style="color:green">Cijena je previsoka!</span>
                    }
                    else
                    {
                        <span style="color:blue">Cijena je taman!</span>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
